.page-error, .page-login {
    background: #DBD5E8;
}

.brand-logo {
    text-align: center;
    min-height: 32px;
    background-color: #442185;
    padding: 10px;
}
.sp-admin-body .brand-logo{
    background-color: transparent;
    padding: 0;
}
#logo {
    display: block;

    background: url(../images/logo.png) no-repeat;
    width: 213px;
    height: 30px;

    margin: 0 auto;
}

.brand-logo {
    min-height: 32px;
}

.sp-admin-body .sidebar {
    background: rgb(47, 28, 82);
}


.navbar .brand-logo,
.sidebar .brand-logo {
    margin: 16px 0;
    min-height: 32px;
}

.sidebar .user-logged-in {
    padding: 20px 0;
}

.sp-admin-body .sidebar .brand-logo,
.sp-admin-body .sidebar ul a,
aside.sidebar i {
    color: #222;
}

.table-title {
    padding-top: 17px;
    padding-bottom: 17px;
}

.table-full tbody > tr > td:last-child {
    overflow: visible;
}

#new-promotion-link {
    float: left;
    display: block;
    width: auto;
    height: 44px;
    margin-top: -9px;
    margin-left: 2px;
}

#new-promotion-submit {
    float: left;
    margin-left: 6px;
}
.brand-logo img{
    max-width: 80%;
}
.sp-admin-body .sidebar .brand-logo, .sp-admin-body .sidebar ul a, aside.sidebar i {
    color: #FFF;
}
main .main-container .main-content{
    background-color: rgba(47, 28, 82, 0.04);
    padding-bottom: 20px;
    padding-top: 64px;
    min-height: 100vh;
}
.card.bordered .card-action {
    border-top: 0;
}
.navbar .navbar-right-no-collapse{
    margin:0;
}
i.md.md-36 {
    font-size: 36px;
}
.content{
    color:#fff;
}
.half {
    width: 49%;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.half a{
    text-transform: uppercase;
}
.half .h1, .half .h2, .half .h3, .half h1, .half h2, .half h3{
    margin-top:10px;
}
.navbar-default .navbar-nav>li>a{
    background-color: #E91E63;
    color: #fff;
}
.form-floating{
    margin-bottom: 0;
}
.dashboard-content ul{
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}
.dashboard-content ul li h5{
    margin-bottom: 4px;

}
.dashboard-content ul li{
    margin:10px auto;
    border-bottom: 1px solid #d3d3d3;
    background-color: #EBEBEB;
}
.dashboard-content h1,.dashboard-content h2,.dashboard-content h3,.dashboard-content h4,.dashboard-content h5 {
    margin-top: 0;
}
.score-update-table{
    width: 500px;
    margin:20px auto;
}
@media screen and (max-width: 768px){
    .score-update-table{
        width: 300px;
        margin:20px auto;
    }
}