#main-header {
  .navbar-default {
    min-height: 100px;
    background-color: #442185;
    border-color: 0;
    border-radius: 0;
    margin-bottom: 0;
    border: 0;
    &.affix {
      position: fixed;
      width: 100%;
      z-index: 32;
      border: 0;
      box-shadow: 0px 2px 4px;
      background-color: rgba(68, 33, 133, 0.94);
    }
    .navbar-brand {
      min-height: 100px;
      img {
        max-width: 200px;
      }
    }
    .dropdown-menu {
      right: 0;
      left: auto;
      box-shadow: none;
      max-width: 300px;
      background: #442185;
      width: 200px;
      color: #fff;
      padding: 12px 13px;
      a{
        color:#fff;
        font-weight: bold;
        text-transform: uppercase
      }
      a:hover{
        color:#442185;
      }
    }
    #navigation-list {
      position: relative;
    }
    .navbar-text {
      color: #fff;
    }
    .navbar-nav {
      li {
        position: relative;

        &.active:before, &:hover:before {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 100%;
          height: 100%;
          content: " ";
          background-color: #fff;
          transform: skewX(-20deg);
          @media (max-width: 768px) {
            background-color: #fff;
            color: #000;
          }
        }
        a {
          line-height: 70px;
          color: #fff;
          font-family: oswald;
        }
        a:hover {
          position: relative;
          z-index: 11;
          display: block;
          color: #442185;
          background: 0 0;
        }
      }
    }

    .navbar-nav {
      li {

        &.active {
          a {
            position: relative;
            z-index: 11;
            display: block;
            color: #442185;
            background: 0 0;
          }
        }
      }
    }

  }
  .yellow-bg {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    right: 0;
    @media (max-width: 768px) {
      position: absolute;
      top: 2px;
    }
    > a {
      display: inline-block;
      padding: 40px 10px;
      position: relative;
      color: #442185;
      text-decoration: none;
      cursor: pointer;
      font-family: oswald;

      &:focus {
        outline: dotted thin;
        outline: 0;
        outline-offset: 0;
      }
      &:after {
        content: " ";
        width: 2px;
        height: 103%;
        position: absolute;
        z-index: 100;
        background-color: #442185;
        transform: skewX(-20deg);
        top: -2px;
        right: -2px;
      }
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: " ";
      background-color: #ffca12;
      transform: skewX(-20deg);
      box-shadow: 2px 1px 20px;
    }
    &:hover {
      &:before {
        background-color: #f4c110;
      }
    }
  }
}