.carousel-navigator{
	a:hover{
		opacity:.9;
	
	}
	a.next{
		background-image:url('assets/images/icons/next.png');
		display: inline-block;
	    height: 40px;
	    width: 60px;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	a.prev{
		background-image:url('assets/images/icons/prev.png');
		display: inline-block;
	    height: 40px;
	    width: 60px;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	}